@page "/counter"
@inject ServicoSingleton _servicoSingleton;
@inject ServicoScoped _servicoScoped;
@inject ServicoTransient _servicoTransient;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<hr>
<p>Singleton count: @_servicoSingleton.Valor</p>
<p>Scoped count: @_servicoScoped.Valor</p>
<p>Transient count: @_servicoTransient.Valor</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        _servicoSingleton.Valor++;
        _servicoScoped.Valor++;
        _servicoTransient.Valor++;
    }
}
